
/* all pages */
body {
    background: #000000 url("images/background.png");
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    font-family: 'eurofurence', sans-serif;
    font-size: 1em;
    color: white;
}

.pagetitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* index page items */
.wrapperI {
    overflow:hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center;  
}

.bio {
    grid-column: 1;
    grid-row: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    max-width: 350px;
    transition: all .5s ease-in-out;
}

.biotext {
    font-size: 1.8em;
    text-align: center;
    margin: 20px;
    transition: all .5s ease-in-out;
    color: rgba(255, 255, 255, 0.1);
}

.bio:hover {
    background-color: rgba(0, 0, 0, 0.4);
    transform: scale(1.07); 
}

.bio:hover .biotext {    
    color: rgba(255, 255, 255, 0.8);    
}

.bio:hover .name {
    color: red;
}

.bio:hover .gamedev {
    color: green;
}

.bio:hover .webdev {
    color: blue;
}

.bio:hover .swe {
    color: gold;
}

.bio:hover .email {
    color: magenta;
}

.name {
    color: rgba(255, 255, 255, 0.1);
    transition: all .5s ease-in;
}

.gamedev {
    color: rgba(255, 255, 255, 0.1);
    transition: all .5s ease-in;
}

.webdev {
    color: rgba(255, 255, 255, 0.1);
    transition: all .5s ease-in;
}

.swe {
    color: rgba(255, 255, 255, 0.1);
    transition: all .5s ease-in;
}

.swe {
    color: rgba(255, 255, 255, 0.1);
    transition: all .5s ease-in;
}

.email {
    color: rgba(255, 255, 255, 0.1);
    transition: all .5s ease-in;
}

.portrait {
    grid-column: 2;
    grid-row: 2;
    border-radius: 50%;
    transition: all .3s ease-in;
}

.portrait:hover {
    transform: scale(1.06);
}

.portrait img {
    max-width: 250px;
    max-height: 250px; 
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;  
}

.icons {
    grid-column: 2;
    grid-row: 3;
    font-size: 3em; 
}

.fa {
    opacity: 0.7;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    text-decoration: none;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;  
    transition: all .2s ease-in-out;
}

.fa:hover {
    transform: scale(1.1);
    opacity: 1.0;
}

.pagechangerI {
    grid-column: 2;
    grid-row: 4;
    transition: all .2s ease-in-out;
}

.pagechangerI:hover {
    transform: scale(1.1);
}

.pagechangerI img {  
    max-width: 250px;
    max-height: 250px; 
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

/* projects page items */
.wrapperP {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-items: center; 
}

.projecttitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.idolshowdown iframe, .tanjutales img , .holocenter img{
    height: 315px; 
    width: 620px; 
    max-width: 620px; 
    max-height: 315px;
}

.holocenter {
    grid-column: 1;
    grid-row: 2;
}

.idolshowdown {
    grid-column: 2;
    grid-row: 2;
}

.tanjutales {
    grid-column: 3;
    grid-row: 2;
}

.pagechangerP {
    grid-column: 2;
    grid-row: 4;
    transition: all .2s ease-in-out;
}

.pagechangerP:hover {
    transform: scale(1.1);
}

.pagechangerP img {  
    max-width: 250px;
    max-height: 250px; 
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

/* animations */
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
}

/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.3;
    }
    100% {
        opacity:1;
    }
} 

/* mobile changes */
@media only screen and (max-width: 1440px) {  
    .codelogo {
        grid-row: 6;
    }
}

@media only screen and (max-width: 800px) {
    .biotext {
        font-size: 16px;
    }
    .codelogo {
        grid-row: 5;
    }
}

@media only screen and (max-width: 600px) {
    .codelogo {
        grid-row: 4;
    }
}

/* PROJECT mobile changes */
@media only screen and (max-width: 1800px) {  
    body {
        overflow-y: visible;
    }
    .holocenter {
        grid-column: 2;
        grid-row: 1;
    }

    .idolshowdown {
        grid-column: 2;
        grid-row: 2;
    }

    .tanjutales {
        grid-column: 2;
        grid-row: 3;
    }
}
