:root {
    --primary-color: rgba(38, 28, 45, 0.60);
	--secondary-color: rgba(62, 44, 65, 0.6);
	--alternate-color: rgba(110, 133, 178, 1);
	--text-color: rgba(255, 255, 255, 0.9);
	--selection-color: rgba(110, 133, 178, 1);
  }

@font-face {
    font-family: CyberwayRiders;
    src:url("/fonts/CyberwayRiders-lg97d.ttf");
}

html {
    scroll-behavior: smooth;
    background-image: url("../images/bgScaled.png");
    background-attachment: fixed;
}

body {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); /* Add a drop shadow to the h1 element */
    background-color: var(--primary-color);
    overflow-x: hidden;
    margin: 0;
	padding: 0;
    font-family: Poppins, sans-serif;
    color: var(--text-color);
}

::selection {
  background: var(--selection-color);
}
::-moz-selection {
  background: var(--selection-color);
}

a:link, a:visited {
    color: var(--text-color);
    text-decoration: none;
}

/* Define styles for the navigation bar */
nav {
	background-color: var(--secondary-color);
	box-shadow: 0 4px 20px -2px black;
	position: fixed; /* Set the navbar to fixed position */
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 10000;
}

nav a {
	font-size: 1.35em;
	font-weight: 300;
	text-align: center;
}

nav a:hover {
	color: var(--alternate-color);
}

/* Define styles for all sections */
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

/* Define styles for section headings */
section h1 {
	font-size: 48px;
	margin-bottom: 50px;
	text-align: center;
}

/* Define styles for specific sections */
#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Set the height of the home section to the height of the viewport */
}

.home-content h1 {
	font-weight: 300;
	font-size: 4em;
	margin: 5px;
}

.home-content h3 {
	margin: 5px;
}

.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px; /* Add some top margin to the home content */
}

.home-content img {
	width: 200px; /* Set the width of the profile picture */
	height: 200px; /* Set the height of the profile picture */
	object-fit: cover; /* Ensure the entire picture is visible */
	border-radius: 50%; /* Make the profile picture round */
}

.profile-pic {
    border-radius: 50%;
    box-shadow: 0 0 0 3px #6E85B2;
    width: 200px;
    height: 200px;
    margin: 20px auto;
    z-index: 10;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0, 0px); }
    50% { transform: translate(0, 5px); }
    100% { transform: translate(0, 0px); }
}

#projects {
	background-color: rgba(38, 28, 45, 0.30);
	border-top: 5px dotted #5C527F;
}

#projects h1, p{
	margin: 0;
	font-weight: 300;
}

.carousel {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 420px;
  }
  
  .carousel h2, img, p {
	margin: 0;
  }
  
  .slide {
	scroll-snap-align: start;
	flex-shrink: 0;
	width: 33.33%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
  }
  
  .slide iframe, .slide img {
	width: 100%;
	height: 300px; /* set your desired height here */
	object-fit: cover; /* ensure the image or video fills the container */
  }
  
  .slide h2 {
	font-size: 1.5em;
  }
  
  .slide p {
	font-size: 1.2em;
  }
  
  @media (max-width: 768px) {
	.slide {
	  width: 50%;
	}
  }
  
  @media (max-width: 480px) {
	.slide {
	  width: 100%;
	}
  }

  #about {
	background-color: rgba(38, 28, 45, 0.6);
	border-top: 5px dotted #5C527F;
	text-align: center;
  }

  #about h1 {
	font-weight: 300;
	margin-bottom: 30px;
  }
  
  .about-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .about-text {
	flex-basis: 60%;
  }
  
  .about-skills {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .about-skills h2 {
	font-size: 1.75rem;
	text-align: center;
	text-decoration: underline;
  }
  
  .skill-categories {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .skill-category {
	margin: 20px;
  }
  
  .skill-category h3 {
	font-size: 1.2rem;
	text-align: center;
  }
  
  .skill-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
  }
  
  .skill-category li {
	font-size: 1rem;
	margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
	.about-content {
		flex-direction: column;
		align-items: center;
	}

	#about {
		padding-top: 300px;
		padding-bottom: 300px;
	}
	
	.about-text, .about-skills {
	  	flex-basis: 10%;
	  	margin-bottom: 50px;
	  	margin-right: 0;
      	text-align: center;
	}
  }

  #contact {
	background-color: rgba(38, 28, 45, 0.85);
	border-top: 5px dotted #5C527F;
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	text-align: center;
  }

  #contact h1 {
	font-size: 2.5rem;
	margin-bottom: 40px;
	font-weight: 300;
  }

  #contact p {
	width: 50%;
  }
  
  .contact-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
  }
  
  .contact-icons a {
	display: inline-block;
	margin-right: 20px;
  }
  
  .contact-icons a:last-child {
	margin-right: 0;
  }
  
  .contact-icons img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	filter: invert(1);
  }
  
  .contact-text {
	font-size: 1.2rem;
  }

  footer {
	background-color: rgba(38, 28, 45, 1);
	border-top: 5px dotted #5C527F;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	position: relative;
  }

  footer p {
	font-size: 1.2rem;
	margin-right: 20px;
  }
  
  footer img {
	width: 40px;
	height: 40px;
	margin-right: 10px;
	filter: invert(1);
  }
  
  footer a {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
  }